/* General form */
body{
    font-family: 'Nobel'!important;
    ul{
        list-style: none!important;
        box-shadow: none!important; 
    }
    a{
        text-decoration: none!important;
        &:hover{
            opacity: 0.7;
        }
    }
    header{
        padding:1.5em 0;
    }
    footer{
        padding:1em 0;
        p{
            margin-bottom:0!important;
        }
    }
    main{
        h2{
            padding-bottom:1em;
        }
        img{
            margin:0.25em;
        }
    }

    #error-404{
        p{
            margin-top:2rem!important;
        }
    }
    aside{
        .btn-back{
            margin-right: 1rem;
        }
    }
    #particles-js{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
    }

}

h1{
    padding:0 0.2em;
}

#home-container, #confirmation-container{
    background-color: black;
}

/* Product Template */
.product-template{
    a{
        margin:0.5em 0;
    }
    p{
        margin-bottom:0!important;
    }
    .col-md-4{
        height: 100%;
    }
}

/* Cart Template */
aside{
    padding:3em 2em 0 2em!important;
    h3,p{
        padding-bottom: 0!important;
        margin-bottom: 0!important;
    }
    .text-container{
        margin-left: -30%!important;
    }
}
.form-check{
    padding-bottom:1em;
}
.btn{
    padding:0.5em 2em!important;
    box-shadow: none!important;
}
.cart_h2--padding{
    padding-bottom:0.4em;
}

/* Confirmation Template */
.confirmation-template{
    margin-top:15%;
}


/* Homepage template */
.main-container{
    #home{
        margin-top: 50vh;
        transform: translateY(-50%);
    }
    div{
        padding: 1.5rem 0;
    }
    .btn{
        width: 150px;
        height: 150px;
        span{
            position: relative;
            top:30px;
        }
    }
}

#page-product{
    display: none;
}


/* Page product */
.product-container{
    padding-bottom: 8rem;
}

/* Cart sidebar */
#cart-sidebar{
    width: 25%;
    min-height:770px;
    position: absolute;
    right: 0;
    top:0;

    /* To hide the sidebar */
    transform: translate(0, -105%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

    .cart-sidebar_product{
        margin-bottom: 1rem;

        .col-7{
            margin-bottom:1em;
        }
    }

    .product-sidebar{
        .btn{
            padding:0 0.75em!important;   
            span{
                font-size:20px;
            }
            &:hover{
                opacity: 0.8;
            }   
        }
    
        #quantity{
            padding:0 1em;
        }

    }

    .footer{
        position: fixed;
        top: 650px;
        width: 80%;
        margin-left:0;
        margin-right: 0;
        p{
            margin-bottom: 1rem!important;
        }
    }

    &>button{
        position: relative;
        bottom:30px;
    }
    
}